@use './partials/typography' ;
@use './partials/variables' as *;
@use './partials/mixins' as *;

// ===========================\\
//  #Global Styles
//============================\\

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  font-family: "Bodoni Moda";
  color: $color-tar-fade;
}

.image {
  max-width: 100%;
  width: 100%;
}

.link {
  text-decoration: none;
  font-family: 'Abel';

  &--footer {
    display: block;
    color: white;
  }

}