@use './partials/typography' ;
@use './partials/variables' as *;
@use './partials/mixins' as *;

// ===========================\\
//  #Global Styles
//============================\\

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  font-family: "Bodoni Moda";
  color: $color-tar-fade;
  background-color: $color-tar-fade;
}

.image {
  max-width: 100%;
  width: 100%;
}

.link {
  text-decoration: none;
  font-family: 'Abel';

  &--footer {
    display: block;
    color: white;
  }

}

.animation-window {
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    border-radius: 10rem;
    background: $color-kelly;
    opacity: 0;
    transition: opacity 175ms;
  }
  

  &:hover::after {
    opacity: 1;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65vh;
 

  &__icon {
    position: relative;
    bottom: -4rem;
    width: 20rem;
    height: 20rem;
    cursor: pointer;
    @include color-fade-animation;
    
  }
}
